@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reservations";
}
@model Licenta.ViewModels.ReservationPageList;

@if (Model == null)
{
    <div class="alert alert-danger">Încă nu ați realizat nici o rezervare!</div>
}
else
{
    @if (TempData["errormessage"] != null)
    {
        <div class="alert alert-danger">@TempData["errormessage"]</div>
    }

    @if (TempData["succesmessage"] != null)
    {
        <div class="alert alert-success">@TempData["succesmessage"]</div>
    }

    <div class="row mt-4" style="cursor:pointer"><div class="col " id="pastreservations">Rezervări trecute</div><div class="col active" id="futurereservations">Rezervări viitoare</div></div>

    <div class="container bg-dark mt-3 hide" style="border-radius:15px" id="pasttable">
        @if (Model.past == null || !(Model.past.Count > 0))
        {
            @Html.Raw("<div class='p-3'>Încă nu ați realizat nici o rezervare!</div>");
        }
        else
        {
        @foreach (var reservation in Model.past)
        {

            <div class="row border-top-f pt-3 pb-3">
                <div class="col-sm-2"><img src="~/@reservation.movieImg" height="150" /></div>
                <div class="col-sm-4">
                    <p>@reservation.movieTitle @if (reservation.is3D == true){<span>3D</span>}</p>
                    <p> @reservation.screeningDate.ToString("yyyy-MM-dd") </p>
                    <p>Ora: @reservation.screeningTime.ToString("HH:mm") </p>
                </div>
                <div class="col-sm-6">
                    Preț total: @reservation.total Lei
                    <br />
                    Biletele @if (reservation.payed == false)
                    {<span style="color:red">NU </span>} au fost plătite
                    <br />
                    Bilete: @foreach (var ticket in reservation.tickets)
                    {
                        @ticket.typeOfTicket @Html.Raw(":") @ticket.noOfTickets
                        <br />
                    }

                </div>
            </div>
        }

    }
    </div>


    <div class="container bg-dark mt-3 " style="border-radius:15px" id="futuretable">
        @if (Model.future == null || !(Model.future.Count > 0)) { 
        @Html.Raw("<div class='p-3'>Încă nu ați realizat nici o rezervare!</div>");
    }
    else
    {
        @foreach (var reservation in Model.future)
        {

            <div class="row  border-top-f pt-3 pb-3">
                <div class="col-sm-2"><img src="~/@reservation.movieImg" height="150" /></div>
                <div class="col-sm-4">
                    <p>
                        @reservation.movieTitle @if (reservation.is3D == true)
                        {<span>3D</span>}
                    </p>
                    <p> @reservation.screeningDate.ToString("yyyy-MM-dd") </p>
                    <p>Ora: @reservation.screeningTime.ToString("HH:mm") </p>
                </div>
                <div class="col-sm-6">
                    Preț total: @reservation.total Lei
                    <br />
                    Biletele @if (reservation.payed == false)
                    {<span style="color:red">NU </span>} au fost plătite
                    <br />
                    Bilete: @foreach (var ticket in reservation.tickets)
                    {
                        @ticket.typeOfTicket @Html.Raw(":") @ticket.noOfTickets
                        <br />
                    }


                    @if (reservation.payed == false)
                    {
                        <form action="/Reservation/Cancel/@reservation.id" method="POST">
                            <button type="submit" class="btn btn-danger mt-2">Anulați rezervarea</button>
                        </form>
                    }
                </div>
            </div>
        }
    }
    </div>

    @section Scripts{
        <script type="text/javascript" src="~/js/ReservationIndex.js" asp-append-version="true"></script>
    }
}