@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reports";
}

@model Licenta.ViewModels.ReportsViewModel;
    <script src="~/js/chart.min.js"></script>



    @if (Model.soldTicketsPerMovies.Count > 0)

    {
        <div class="pt-5 pb-5 mb-4" style="background-color:white;border-radius:5px;">
            <h1 class="text-center m-4" style="color:#454d55">Raport zilnic</h1>
            <div class="row m-4">
                <div class="col-sm-6" id="table1wrap">
                    <table style="border-radius:5px" class="table table-dark" id="table1">
                        <thead><tr><th>Film</th><th>Numar de bilete vandute</th></tr></thead>
                        <tbody>
                            @foreach (var result in Model.soldTicketsPerMovies)
                            {
                                <tr>
                                    <td>
                                        @result.title
                                    </td>
                                    <td>
                                        @result.noTickets
                                    </td>

                                </tr>
                            }
                            <tr><td colspan="2" style="text-align:right">Total: @Model.totalTickets </td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart"></canvas>
                </div>
            </div>



            @if (Model.revenuePerMovies.Keys.Count > 0)
            {
                <div class="row m-4">
                    <div id="table2wrap" class="col-sm-6">
                        <table style="border-radius:5px" class="table table-dark " id="table2">
                            <thead><tr><th>Film</th><th>Venit realizat</th></tr></thead>
                            <tbody>
                                @foreach (var result in Model.revenuePerMovies)
                                {
                                    <tr>
                                        <td>
                                            @result.Key
                                        </td>
                                        <td>
                                            @result.Value Lei
                                        </td>

                                    </tr>
                                }
                                <tr><td colspan="2" style="text-align:right">Total: @Model.totalRevenue Lei</td></tr>
                            </tbody>

                        </table>
                    </div>
                    <div style="width:50%;" class="col-md-6">
                        <canvas id="myChart2" stye="width:50%"></canvas>
                    </div>
                </div>
            }

        </div>
        <script>
   //primul chart


        const labels = [
            @{
            foreach (var t in Model.soldTicketsPerMovies)
            {
                @Html.Raw("'"+t.title+"',");
            }
           }
        ];
        const data = {
            labels: labels, display: false,
            datasets: [{
                label: 'Bilete vandute',
                backgroundColor: [
                    'rgb(209, 19, 19)',
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'

                ],
                data: [
                     @{
                    foreach (var t in Model.soldTicketsPerMovies)
                    {
                        @Html.Raw(""+t.noTickets+",");
                    }
                    }
                ],
            }]
        };
        const config = {
            type: 'pie',
            data,

        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        myChart.options.plugins.legend.display = false;
        myChart.update();







        //al doilea chart
        const labels2 = [
         @{
            foreach (var t in Model.revenuePerMovies)
            {
                @Html.Raw("'"+t.Key+"',");
            }
           }
        ];
        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Venituri per film',
                data: [  @{
            foreach (var t in Model.revenuePerMovies)
            {
                @Html.Raw("'"+t.Value+"',");
            }
           }],
                backgroundColor: [
                    'rgb(209, 19, 19)',
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'
                ],
                borderColor: [
                    'rgb(209, 19, 19)',
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'
                ],
                borderWidth: 1,
                color:'white',
            }]
        };

        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };
        var myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );

        myChart2.options.plugins.legend.display = false;

        myChart2.update();


        //aliniere verticala
        var height = document.getElementById('table1wrap').offsetHeight;
        var tableHeight = document.getElementById('table1').offsetHeight;
        var tableMarginTop = (height - tableHeight)/2;
        $('#table1').css('margin-top', tableMarginTop);


        var height2 = document.getElementById('table2wrap').offsetHeight;
        var tableHeight2 = document.getElementById('table2').offsetHeight;
        var tableMarginTop2 = (height2 - tableHeight2) / 2;
        $('#table2').css('margin-top', tableMarginTop2);


        </script>

    }
    else
    {
        <div class="alert alert-info">Inca nu s-au vandut bilete azi</div>
    }



    <table style="border-radius:5px;width:70%" class="table table-dark m-4">
        <thead><tr><th>Bilete vandute online</th><th>Bilete vandute la cinema</th></tr></thead>
        <tbody>

            <tr>
                <td>
                    @Model.ticketsSoldOnline
                </td>
                <td>
                    @Model.ticketsSoldAtCinema
                </td>
            </tr>
        </tbody>

    </table>






    <div class="bg-dark p-4 m-4" style="border-radius:5px;">

        <h2 class="text-center mb-3">Generati rapoarte</h2>
        <div class="row">
            <div class="col-md-4">
                TOPURI
                <select class="form-control" id="tops">
                    <option value="" selected>Selectati o optiune</option>
                    <option value="allmoviest">Top filme preferate(toate filmele)</option>
                    <option value="presentmoviest">Top filme preferate(filme care ruleaza)</option>
                    <option value="allmoviesr">Top cele mai profitabile filme(toate filmele)</option>
                    <option value="presentmoviesr">Top cele mai profitabile filme(care ruleaza)</option>
                    <option value="clients">Top clienti</option>

                </select>
            </div>
            <div class="col-md-4">
                RAPOARTE PE LUNA
                <select class="form-control" id="reports">
                    <option value="" selected>Selectati o optiune</option>
                    <option value="ticketsm">Bilete vandute pe luna</option>
                    <option value="revenuem">Venituri realizate pe luna</option>
                </select>
            </div>
            <div class="col-md-4">
                RAPOARTE ZILNICE
                <br />
                <select class="form-control mr-3" style="width:40%;display:inline-block" id="dailyreports">
                    <option value="ticketsd">Bilete vandute</option>
                    <option value="revenued">Venituri realizate</option>
                </select>
                <input class="form-control" style="width:40%;display:inline-block" type="date" id="date" />
            </div>

        </div>
    </div>





    <div id="result" class="hide">
        <div id="downloadlink" class="m-3"></div>
        <table style="border-radius:5px" class="table table-dark hide " id="allmoviesttable">
            <thead><tr><th>Nr</th><th>Titlu</th><th>Bilete vandute</th></tr></thead>
            <tbody id="allmoviestcontent"></tbody>
        </table>


        <table id="presentmoviesttable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Nr</th><th>Titlu</th><th>Bilete vandute</th></tr></thead>
            <tbody id="presentmoviestcontent"></tbody>
        </table>


        <table id="allmoviesrtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Nr</th><th>Titlu</th><th>Venit generat</th></tr></thead>
            <tbody id="allmoviesrcontent"></tbody>
        </table>


        <table id="presentmoviesrtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Nr</th><th>Titlu</th><th>Venit generat</th></tr></thead>
            <tbody id="presentmoviesrcontent"></tbody>
        </table>


        <table id="clientstable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Nr</th><th>Client</th><th>Bilete cumparate</th></tr></thead>
            <tbody id="clientscontent"></tbody>
        </table>





        <table id="ticketsmtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Luna</th><th>Bilete vandute</th></tr></thead>
            <tbody id="ticketsmcontent"></tbody>
        </table>


        <table id="revenuemtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Luna</th><th>Venituri realizate</th></tr></thead>
            <tbody id="revenuemcontent"></tbody>
        </table>


        <table id="ticketsdtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Film</th><th>Bilete vandute</th></tr></thead>
            <tbody id="ticketsdcontent"></tbody>
        </table>


        <table id="revenuedtable" style="border-radius:5px" class="table table-dark hide ">
            <thead><tr><th>Film</th><th>Venituri generate</th></tr></thead>
            <tbody id="revenuedcontent"></tbody>
        </table>

        <div class="alert alert-danger hide" id="errorMessage"></div>
        <div style="width:60%;">
            <canvas id="myChart3"></canvas>
        </div>

    </div>






    @section Scripts{
        <script type="text/javascript" src="~/js/ReportsIndex.js" asp-append-version="true"></script>

    }

