@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Licenta.ViewModels.ReportsViewModel;
<script src="~/js/chart.min.js"></script>
<div class="pt-5 pb-5 mb-4" style="background-color:white;border-radius:5px;">
    <h1 class="text-center m-4" style="color:#454d55">Raport zilnic</h1>


    @if (Model.soldTicketsPerMovies.Count > 0)
    {<div class="row m-4" >
         <div  class="col-sm-6" id="table1wrap">
             <table style="margin:auto;" class="table table-dark table-bordered" id="table1">
                 <thead><tr><th>Film</th><th>Numar de bilete vandute</th></tr></thead>
                 <tbody>
                     @foreach (var result in Model.soldTicketsPerMovies)
                     {
                         <tr>
                             <td>
                                 @result.title
                             </td>
                             <td>
                                 @result.noTickets
                             </td>

                         </tr>
                     }
                     <tr><td colspan="2" style="text-align:right">Total: @Model.totalTickets </td></tr>
                 </tbody>
             </table>
         </div>
            <div class="col-md-6">
                <canvas id="myChart" ></canvas>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info">Inca nu s-au vandut bilete azi</div>
    }


    @if (Model.revenuePerMovies.Keys.Count > 0)
    {
        <div class="row m-4">
            <div id="table2wrap" class="col-sm-6">
                <table  class="table table-dark table-bordered" id="table2">
                    <thead><tr><th>Film</th><th>Venit realizat</th></tr></thead>
                    <tbody>
                        @foreach (var result in Model.revenuePerMovies)
                        {
                            <tr>
                                <td>
                                    @result.Key
                                </td>
                                <td>
                                    @result.Value Lei
                                </td>

                            </tr>
                        }
                        <tr><td colspan="2" style="text-align:right">Total: @Model.totalRevenue Lei</td></tr>
                    </tbody>

                </table>
            </div>
            <div style="width:50%;" class="col-md-6">
                <canvas id="myChart2" stye="width:50%"></canvas>
            </div>
        </div>
    }


    <table style="width:100%" class="table table-dark table-bordered m-4">
        <thead><tr><th>Bilete vandute online</th><th>Bilete vandute la cinema</th></tr></thead>
        <tbody>

            <tr>
                <td>
                    @Model.ticketsSoldOnline
                </td>
                <td>
                    @Model.ticketsSoldAtCinema
                </td>
            </tr>
        </tbody>

    </table>


</div>



    <div class="bg-dark p-4 m-4" style="border-radius:5px;">

        <h2 class="text-center mb-3">Generati rapoarte</h2>
        <div class="row">
            <div class="col-md-4">
                TOPURI
                <select class="form-control">
                    <option>Top filme preferate(toate filmele)</option>
                    <option>Top filme preferate(filme care ruleaza)</option>
                    <option>Top cele mai profitabile filme(toate filmele)</option>
                    <option>Top cele mai profitabile filme(care ruleaza)</option>
                    <option>Top clienti</option>
                    <option>Top zile preferate</option>
                </select>
            </div>
            <div class="col-md-4">
                RAPOARTE PE LUNA
                <select class="form-control">
                    <option>Bilete vandute pe luna</option>
                    <option>Venituri realizate pe luna</option>
                </select>
            </div>
            <div class="col-md-4">
                RAPOARTE ZILNICE
                <br />
                <select class="form-control mr-3" style="width:40%;display:inline-block">
                    <option>Bilete vandute</option>
                    <option>Venituri realizate</option>
                </select>
                <input class="form-control" style="width:40%;display:inline-block" type="date" id="datepicker" />
            </div>

        </div>
    </div>



    <div class="hide">
        <table>
        </table>
        <table>
        </table>
        <table>
        </table>
        <table>
        </table>
        <tabe>
        </tabe>
        <table>
        </table>
        <table>
        </table>
        <table>
        </table>
        <table>
        </table>
        <table>
        </table>
        test test test
    </div>


    <!--
        javascript in care cand se schimba selecturile se trimite ajax...
    cand se schimba selectul se verifica ce s-a schimbat avem un controller se tr cerere la acel controller ??cu un parametru raport=ce s-a selectat
    in controller avem un case si in functie de case se interogheaza baza de date si se returneaza un json,un string sau "Eroare"

    pe front se preia rezultatul json se transforma in obiect sau nu?
    se face si in front end case cuce s-o trimis .... in fiecare caz div-ul rezult se completeaza cu un tabel si un chart corespunzator in functie de datele primite
    se pune si ceva link spre un controller care descarca datele???

    se primesc datele...
        -->

    <script>
        // === include 'setup' then 'config' above ===

        const labels = [
            @{
            foreach (var t in Model.soldTicketsPerMovies)
            {
                @Html.Raw("'"+t.title+"',");
            }
           }
        ];
        const data = {
            labels: labels, display: false,
            datasets: [{
                label: 'Bilete vandute',
                backgroundColor: ['rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'

                ],
                data: [
                     @{
                    foreach (var t in Model.soldTicketsPerMovies)
                    {
                        @Html.Raw(""+t.noTickets+",");
                    }
                    }
                ],
            }]
        };
        const config = {
            type: 'pie',
            data,

        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        myChart.options.plugins.legend.display = false;
        myChart.update();








        const labels2 = [
         @{
            foreach (var t in Model.revenuePerMovies)
            {
                @Html.Raw("'"+t.Key+"',");
            }
           }
        ];
        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Venituri per film',
                data: [  @{
            foreach (var t in Model.revenuePerMovies)
            {
                @Html.Raw("'"+t.Value+"',");
            }
           }],
                backgroundColor: [
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'
                ],
                borderColor: [
                    'rgba(255, 99, 132)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(54, 162, 235)',
                    'rgba(153, 102, 255)',
                    'rgba(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(120, 53, 234)',
                    'rgb(234, 53, 87)',
                    'rgb(66, 53, 234)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 53, 129)',
                    'rgb(192, 53, 234)',
                    'rgb(234, 195, 53)',
                    'rgb(234, 53, 228)',
                    'rgb(53, 234, 117)',
                    'rgb(183, 234, 53)',
                    'rgb(53, 234, 183)',
                    'rgb(234, 117, 53)'
                ],
                borderWidth: 1,
                color:'white',
            }]
        };

        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };
        var myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );
       
        myChart2.options.plugins.legend.display = false;
       
        myChart2.update();


        var height = document.getElementById('table1wrap').offsetHeight;
        var tableHeight = document.getElementById('table1').offsetHeight;
        var tableMarginTop = (height - tableHeight)/2;
        $('#table1').css('margin-top', tableMarginTop);


        var height2 = document.getElementById('table2wrap').offsetHeight;
        var tableHeight2 = document.getElementById('table2').offsetHeight;
        var tableMarginTop2 = (height2 - tableHeight2) / 2;
        $('#table2').css('margin-top', tableMarginTop2);

    
        //script care sa trimita ajax si sa aseze date
    </script>


