@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}


@if (ViewBag.SuccesMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccesMessage</div>
}
<div class="container bg-dark p-5 bw" style="border-radius:15px;">

    <h2 class="text-center">Detalii utilizator</h2>
    Nume:@Model.FirstName
    <br />
    Prenume:@Model.LastName
    <br />
    Email:@Model.Email
    <br />
    Tlefon:@Model.PhoneNumber




    @if (Model.userprizes.Count > 0)
    {
        <div class="row mt-4" style="cursor:pointer"><div class="col " id="claimedp">Premii revendicate</div><div class="col active" id="unclaimedp">Premii nerevendicate</div></div>
        <div class="ofx">
            <table class="table table-dark table-bordered hide" id="claimed">
                <thead><tr><th scope="col">Premiu</th><th class="text-center" scope="col">Cod</th></tr></thead>

                @foreach (var prize in Model.userprizes)
                {
                    if (prize.claimed == 1)
                    {
                        <tr style="word-break:normal;">
                            <td>@prize.name </td>

                            <td>@prize.code </td>

                        </tr>

                    }
                }
            </table>
        </div>
        <div class="ofx">
            <table class="table table-dark table-bordered" id="unclaimed">
                <thead><tr><th scope="col">Premiu</th><th class="text-center" scope="col">Cod</th><th>Actiune</th></tr></thead>

                @foreach (var prize in Model.userprizes)
                {
                    if (prize.claimed == 0)
                    {
                        <tr style="word-break:normal;">
                            <td>@prize.name </td>

                            <td>@prize.code </td>
                            <td> <a class="btn btn-danger" href="/User/ClaimPrize/@prize.id">Revendica</a></td>
                        </tr>
                    }

                }
            </table>
        </div>
            }
            else
            {

            <span>Nu exista premii disponibile</span>
            }

        </div>

        @section Scripts{
            <script type="text/javascript" src="~/js/UserDetail.js" asp-append-version="true"></script>
        }
