@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User List";
}
@model List<Licenta.ViewModels.UserViewModel>


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@if (ViewBag.SuccesMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccesMessage</div>
}

<div class="row">
    <form action="/User/List" method="get" class="col-sm-6 ">
        Căutați după nume:
        <br />
        <br />
        <input name="q" type="text" class="form-control" style="width:30%;display:inline-block; border-top-right-radius:0px;border-bottom-right-radius:0px;" /><button class="btn btn-danger" style="display:inline-block; border-bottom-left-radius:0px;border-top-left-radius:0px;vertical-align:baseline;"><i class="fa fa-search"></i></button>
    </form>
</div>

@if (Model != null)
{
    @if (Model.Count != 0)
    {

        <br />
        <br />
        <div class="result"></div>

        <div class="ofx">
            <table class="table table-dark table-bordered">
                <thead><tr><th scope="col">Nume</th><th class="text-center" scope="col">Prenume</th><th class="text-center" scope="col">Telefon</th><th class="text-center" scope="col">Email</th><th class="text-center" scope="col">Acțiune</th></tr></thead>

                @foreach (var user in Model)
                {

                    <tr>
                        <td>
                            @user.FirstName
                        </td>

                        <td>
                        @user.LastName
                        </td>

                        <td>
                            @user.PhoneNumber
                        </td>

                        <td class="bw">
                            @user.Email
                        </td>

                        <td style="text-align: center; vertical-align: middle;">
                            <a class="btn btn-success " href="/User/Detail/@user.id">Detalii</a>
                            @if (User.IsInRole("Administrator"))
                            {
                                <br />
                                <br />
                                <a class="btn btn-danger " href="/User/ConfirmDelete/@user.id">Ștergeți</a>
                                <br />
                                <br />
                                <a class="btn btn-info " href="/User/EditRole/@user.id">Gestionați rol</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="pagining">
            @{

                string url;
                //se gasesc parametri de tip query din url, daca in momentul accesarii linkului din paginare nu exista parametrii atunci se va forma un parametru si anume page=:se pune ? dupa url
                if (Context.Request.Query.Count == 0)
                {
                    url = Context.Request.Path + "?";
                }

                else
                {   //daca exista parametrii se inlocuieste parametrul care indica pagina curenta cu un string null
                    url = Context.Request.Path + Context.Request.QueryString;
                    url = url.Replace("&p=" + Context.Request.Query["p"].ToString(), "");
                    url = url.Replace("?p=" + Context.Request.Query["p"].ToString(), "");

                    if (string.IsNullOrEmpty(Context.Request.Query["p"]))
                    {   //daca mai exist alti parametrii inafara de p se va adauga & la sfarsit de url
                        if (Context.Request.Query.Count >= 1)
                        {
                            url = url + "&";
                        }
                        //daca nu exista alt parametru se adauga ? pentru a putea adauga primul parametru
                        else
                        {
                            url = url + "?";
                        }
                    }
                    else
                    {  //daca exista parametrul p si inc un parametru suplimentar se adauga &
                        if (Context.Request.Query.Count >= 2)
                        {
                            url = url + "&";
                        }
                        //altfel se adauga ?
                        else
                        {
                            url = url + "?";

                        }

                    }
                }
            }

            @if (ViewBag.noPages > 6)
            {  //in functie de numarul de pagini returnate si de pagina curenta se vor afisa diferit link-urile de paginare

                if (ViewBag.currPage == 1)
                {
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>

                }
                else
                if (ViewBag.currPage == 2)
                { <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else if (ViewBag.currPage == 3)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <a href="@(url + "p=")4">4</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>

                }


                else if (ViewBag.currPage == ViewBag.noPages)
                {

                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>


                }
                else if (ViewBag.currPage == ViewBag.noPages - 1)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else if (ViewBag.currPage == ViewBag.noPages - 2)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-3)">@(ViewBag.noPages-3)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.currPage-1)">@(ViewBag.currPage-1)</a>
                    <a href="@(url + "p=")@ViewBag.currPage">@ViewBag.currPage</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)">@(ViewBag.currPage+1)</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }

            }
            //daca edoar o pagina nu se afiseaza meniul de paginare
            else if (ViewBag.noPages == 1)
            {

            }
            else
            // daca e un nr mai mic de 6 pagini se afiseaza toate link-urile
            { <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                for (var i = 1; i <= ViewBag.noPages; i++)
                {
                    <a href="@(url + "p=")@i">@i</a>
                }
                <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
            }
        </div>
   
}
}




