@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.Extensions.Options
@inject IOptions<Licenta.Services.StripeSettings> Stripe
@model Licenta.ViewModels.ChooseSeatsViewModel;


@section Css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@if (Model == null)
{
    if (ViewBag.ErrorMessage != null)
    {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
}
else
{
<div class="row">
    <div class="col-sm-6 " style="padding-top:100px;">
        <b style="font-size:30px">Detalii plată</b>
        <br />
        Nume: @Model.nume
        <br />
        Prenume: @Model.prenume
        <br />
        Email: @Model.email
        <br />
        Telefon: @Model.telefon
        <br />
        Număr de bilete: @Model.notickets
        <br />
        
        <br />
        <b style="font-size:30px">Total:@Model.total lei</b>



    </div>

    <div class=" col-sm-6 form p-5">
        <i class="fa fa-cc-stripe" style="font-size:36px"></i>
        <i class="fa fa-cc-visa" style="font-size:36px"></i>
        <i class="fa fa-cc-mastercard" style="font-size:36px"></i>
        <i class="fa fa-cc-amex" style="font-size:36px"></i>

        <script src="https://js.stripe.com/v3/"></script>

        <br />
        <br />
        <form asp-action="Charge" asp-controller="Screening" method="POST" id="payment-form">

            Numarul cardului:
            <span id="card-number" class="form-control"></span>
            CVC:
            <span id="card-cvc" class="form-control"></span>

            Data expirării:
            <span id="card-exp" class="form-control"></span>

            <input asp-for="Token" class="StripeToken" hidden />
            <input type="hidden" name="id" value="@Model.screeningId" />
            <br />

            <button class="btn btn-danger">Plateste</button>
            <div id="card-errors" role="alert" class="text-danger"></div>
        </form>
    </div>


</div>

@section Scripts{ 
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/BuyPageJS.js"></script>
}

}