@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Licenta.ViewModels
@using Microsoft.AspNetCore.Http
@using Licenta.Extension
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Choose Tickets";
}
@model Licenta.ViewModels.ChooseTicketsViewModel
@if (Model == null)
{<div class="alert alert-danger">@ViewBag.ErrorMessage</div>}
else
{
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<table class="table table-dark table-bordered">
    <thead><tr><th scope="col">Tip bilet</th><th class="text-center" scope="col">Pret</th><th class="text-center" scope="col">Alegeti numarul de bilete</th></tr></thead>

    <tbody>

        @foreach (var type in Model.types)
        {
            <tr>
                <td>@type.name</td>
                @{var price = Model.price - (type.discount * Model.price);
                    <td class="text-center">@price Lei</td>
                }

                <td style="text-align: center; vertical-align: middle;">
                    <input  class="tickets" type="number" name="@type.id" style="width:70px;" align="middle" min="0"
                           value="@{ List<KVTickets> tickets= HttpContextAccessor.HttpContext.Session.Get<List<KVTickets>>((string)Convert.ToString(Model.id));
                               if (tickets != null)
                               {
                                   bool ticketexists = false;
                                   foreach (KVTickets ticket in tickets)
                                   {
                                       if (ticket.Key == type.id)
                                       {
                                           ticketexists = true;
                                           @Html.Raw(ticket.Value);
                                       }
                                   }
                                   if (!ticketexists)
                                   {

                                       @Html.Raw((int)0);
                                   }
                               }
                               else
                               {
                                   @Html.Raw((int)0);
                               }

                               }"/>
                </td>




            </tr>
        }

        <tr><td colspan="3" style="text-align:right">Total: <span id="price">
    @{ float total = 0;
        List<KVTickets> tickets2 = HttpContextAccessor.HttpContext.Session.Get<List<KVTickets>>((string)Convert.ToString(Model.id));
        if (tickets2 != null)
        {
            foreach (var type in Model.types)
            {
                foreach (KVTickets ticket in tickets2)
                {
                    if (type.id == ticket.Key)
                    {
                        total = total + (Model.price - (Model.price * type.discount)) * ticket.Value;
                    }

                }
            }
            @Html.Raw(total);
        }
        else @Html.Raw((int)0);

        }
    </span> Lei</td></tr>


    </tbody>
</table>
   <a href="/Screening/ChooseSeats/@Model.id">
    <div class="btn btn-danger" style="border-radius:10px; float:right;display:inline-block">Pasul urmator</div>
   </a> 

}
<script type="text/javascript">


    $(".tickets").on("change", function (e) {
        var model = @Html.Raw(Json.Serialize(Model));
        var total = 0;
        var inputs = document.getElementsByClassName('tickets');
        for (let i = 0; i < inputs.length; i++) {
            for (let j = 0; j < model.types.length; j++)
                if (model.types[j].id == inputs[i].getAttribute('name'))
                    total = total + (model.price - (model.price * model.types[j].discount)) * inputs[i].value;
        }
        document.getElementById("price").innerHTML = total.toFixed(1);
        $.ajax({
            type: "POST",
            url: "/Screening/AddTicket",
            contentType: "application/x-www-form-urlencoded",
            data: "key=" + e.target.getAttribute('name') + "&value=" + e.target.value + "&screeningId=" + model.id,
       
        });


    });





</script>
