@*

*@
@{
}

@using Microsoft.AspNetCore.Identity;
@model Licenta.ViewModels.ChooseSeatsViewModel;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@section Css{
    <link rel="stylesheet" href="~/css/Screening.css" asp-append-version="true">
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


@if (Model != null)
{
        int row = 1;
        float width1 = (float)100 / (float)(Model.cols + 1);
        string width = width1.ToString("0.0000") + "%";

    

    <div class="container bg-dark pt-4 pb-3 pl-5 pr-5" style="border-radius:10px;">

        <div class="p-5">
            <div class="seat free ml-1" style="width:@width;"></div>  Loc liber
            <div class="seat reserved ml-1" style="width:@width;"></div>  Loc deja ocupat
            <div class="seat selected ml-1" style="width:@width;"></div>  Loc selectat de dumneavoastră
        </div>

        <div class="screen">Ecran</div>


        <div class="row">
            <div class="path" style="width:@width;"><b>R1</b></div>
            @foreach (var seat in Model.seats)
            {
                @if (seat.row != row)
                {

                    @if (seat.row == 0)
                    {
                        @Html.Raw("</div><div class='row'>");
                        row = seat.row;

                    }
                    else
                    {
                        @Html.Raw("</div><div class='row'>");
                        row = seat.row;
                        <div class="path" style="width:@width;"><b>R</b><b>@row</b></div>


                    }

                }

                @if (seat.seatNo == null)
                {
                    <div class="path" style="width:@width;"></div>
                    continue;
                }

                @if (Model.reserved.Contains(seat.Id))
                {
                    <div class="seat reserved" style="width:@width;">@seat.seatNo</div>
                    continue;
                }
                @if (Model.selectedseats != null)
                {
                    @if (Model.selectedseats.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse).ToList().Contains(seat.Id))
                    {

                        <div class="seat selected" style="width:@width;">@seat.seatNo</div>
                        continue;
                    }
                }
                <div id="@seat.Id" class="seat free" style="width:@width;">@seat.seatNo</div>

            }
        </div>

        <div class="row mt-4 pl-5 pr-5" style="border-top:2px solid black;">


            <div class="col">
                <form action="/Screening/ChooseSeats/@Model.screeningId" method="POST" id="reserveform">

                    <input asp-for="selectedseats" type="hidden" />
                    <input asp-for="screeningId" type="hidden" />
                    <input asp-for="userId" type="hidden" />
                    <label asp-for="nume"></label>
                    <input asp-for="nume" class="form-control" />
                    <span asp-validation-for="nume" class="text-danger"></span>
                    <br />
                    <label asp-for="prenume"></label>
                    <input asp-for="prenume" class="form-control" />
                    <span asp-validation-for="prenume" class="text-danger"></span>
                    <br />
                    <label asp-for="email"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                    <br />
                    <label asp-for="telefon"></label>
                    <input asp-for="telefon" class="form-control" />
                    <span asp-validation-for="telefon" class="text-danger"></span>
                    <br />
                    <br />
                    @if (User.IsInRole("Administrator"))
                    {
                        <input type="submit" class="btn btn-danger reserve" name="action" value="Rezerva biletele" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-danger reserve" name="action" value="Rezerva biletele" />
                        <br />
                        <br />
                        <input type="submit" class="btn btn-danger reserve" name="action" value="Cumpara bilete" />
                    }
                </form>

            </div>
            <div class="col-md-4 " style="text-align:right;">
                <br />
                <p>Total: <b>@Model.total Lei</b></p>
                <p>Numar bilete: @Model.notickets </p>
            </div>
        </div>
    </div>

}


<script type="text/javascript">

    var model = @Html.Raw(Json.Serialize(Model));

    var seats = new Array();
    var selected = 0;
    if (model.selectedseats != null) {
        seats = model.selectedseats.split(",").map(Number);
        selected = seats.count();
    }
    var noseats = model.notickets - model.selectedseats;
    $('.seat').click(function (event) {

        //daca este un scaun deja rezervat nu se permite selectarea lui




            if ($(event.target).hasClass('reserved')) {
                alert('Acest loc este deja rezervat si nu poate fi selectat');
            }

            //daca este un scaun liber se permite selectarea se adauga in array



            if ($(event.target).hasClass('free')) {
                if (noseats > 0) {
                    $(event.target).removeClass('free');
                    $(event.target).addClass('selected');
                    noseats = noseats - 1;
                    seats.push(event.target.id);
                } else alert("Ati selectat toate locurile");
            }

            else if ($(event.target).hasClass('selected')) {
                $(event.target).removeClass('selected');
                $(event.target).addClass('free');
                noseats = noseats + 1;
                seats = $.grep(seats, function (value) {
                    return value != event.target.id;
                });


        }

    });

    $('.reserve').click(function (e) {
        if (noseats == 0) {
            $('#selectedseats').val(seats.toString());

            $('#reserveform').submit();
        } else {
            e.preventDefault();
            alert("Mai aveti " + noseats + " locuri de selectat!");
        }

    });

</script>