@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Screening";
}
@model Licenta.ViewModels.CreateScreeningViewModel


<div class="container col-sm-6 p-5 form">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <form asp-controller="Screening" asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="hallId"></label>
            <select asp-for="hallId" class="form-control" required>
                @foreach (var hall in ViewBag.halls)
                {
                    @if (ViewBag.halls.IndexOf(hall) == ViewBag.halls.Count - 1)
                    {
                        <option value="@hall.id" selected>@hall.name</option>
                    }
                    else
                    {
                        <option value="@hall.id">@hall.name</option>
                    }
            }
            </select>
            <span asp-validation-for="hallId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="movieId"></label>
            <select asp-for="movieId" class="form-control" required>
                @foreach (var movie in ViewBag.movies)
                {
                    <option value="@movie.id">@movie.title</option>
                }
            </select>
            <span asp-validation-for="movieId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="s_hour"></label>
            <input type="time" asp-for="s_hour" class="form-control" required />
            <span asp-validation-for="s_hour" class="text-danger"></span>
        </div>

        <div class="alert alert-success">
            Intervale orare disponibile:
            <div id="intervals"></div>
        </div>


        <div class="form-group">
            <label asp-for="price"></label>
            <input asp-for="price" class="form-control" required />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="is3D"></label>:
            <br />
            <input type="radio" asp-for="is3D" value="true" required />DA
            <br />
            <input type="radio" asp-for="is3D" value="false" />NU
            <span asp-validation-for="is3D" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="date"></label>
            <input type="date" asp-for="date" class="form-control" />
            <span asp-validation-for="date" class="text-danger" required></span>
        </div>


        <button tyepe="submit" class="btn btn-danger">Creează</button>


    </form>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/ScreeningCreate.js" asp-append-version="true"></script>
}