@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Screening Reservations";
}

@model Licenta.ViewModels.ScreeningReservations;

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@if (Model != null)
{
    <h2 style="display:inline-block">@Model.title</h2>

    <div class="bg-danger p-2" style="border-radius:15px;display:inline-block"> @Model.s_hour.ToString("HH:mm") -  @Model.f_hour.ToString("HH:mm") </div>
    <div class="alert"><b>Pret:</b> @Model.price Lei </div>
    <br />

    <div class="result"></div>
    @if (ViewBag.SuccesMessage != null)
    {
        <div class="alert alert-success">@ViewBag.SuccesMessage</div>
    }


    <form action="/Screening/Reservations/@Model.screeningid" method="get" class="m-3">
        Căutați o rezervare după numele clientului:
        <input name="q" type="text" class="form-control" style="width:30%;display:inline-block; border-top-right-radius:0px;border-bottom-right-radius:0px;" /><button class="btn btn-danger" style="display:inline-block; border-bottom-left-radius:0px;border-top-left-radius:0px;vertical-align:baseline;"><i class="fa fa-search"></i></button>
    </form>

    <a class="btn btn-danger mb-3" href="/Screening/ChooseTickets/@Model.screeningid">Creați o rezervare nouă</a>
    <a class="btn btn-danger mb-3" href="/Screening/DeleteConfirmation/@Model.screeningid">Ștergeți ecranizarea</a>

    @if (Model.reservations != null)
    {
        <div class="ofx">
            <table class="table table-dark table-bordered">
                <thead><tr><th scope="col">Nume</th><th class="text-center" scope="col">Email</th><th class="text-center" scope="col">Sumar Bilete</th><th class="text-center" scope="col">Revendicare bilete</th><th class="text-center" scope="col">Total</th><th class="text-center" scope="col">Stare</th><th class="text-center" scope="col">Acțiune</th></tr></thead>

                @foreach (var reservation in Model.reservations)
                {

                    <tr>
                        <td>
                            <span>@reservation.FirstName </span> @reservation.LastName
                        </td>

                        <td class="bw">
                            @reservation.email
                        </td>

                        <td>
                            <b style="text-decoration:underline;">Număr de bilete: </b>@reservation.totaltickets
                            <br />
                            <b style="text-decoration:underline;">Tipuri de bilete: </b><br />
                            @foreach (var ticket in reservation.ticketTypes)
                            {
                                <span>@ticket.typeOfTicket: </span>@ticket.noOfTickets
                                <br />
                            }
                            <br />
                            @foreach (var seat in reservation.seats)
                            {
                                <span>Rând @seat.Key, Locuri: </span>

                                @foreach (var s in seat.Value)
                                {
                                    <span>@s,</span>
                                }
                                <br />

                            }
                        </td>

                        <td class="tickets">
                            @if (reservation.ticketsids.Count == 0) { }
                            else
                            {
                                <form action="/ReservedSeats/Download" method="post">
                                    <button class="btn btn-danger" name="ids" value="@string.Join( ",", reservation.ticketsids)">Printează toate biletele</button>
                                </form>
                                <br />
                                <br />
                            }

                            @foreach (var ticket in reservation.tickets)
                            {
                                <div>
                                    <b>Tip: </b>@ticket.type<b>, Rând: </b>@ticket.row<b>, Loc: </b>@ticket.seatNo @if (ticket.claimed == false)
                                    {
                                        <form action="/ReservedSeats/Download" method="post" class="float-right">
                                            <button class="btn btn-danger float-right" name="ids" value="@ticket.id">P</button>
                                        </form>
                                    }
                                    else
                                    {<b style="color:red;"> Revendicat</b>}

                                </div>
                                <br />
                            }
                        </td>

                        <td>
                            @reservation.total
                        </td>

                        <td>
                            @if (reservation.payed == false)
                            {
                                <select name="state" class="state">

                                    <option value="@reservation.id">Plătit</option>

                                    <option value="@reservation.id" selected>Neplătit</option>
                                </select>
                            }
                            else
                            {
                                <select name="state" class="state">
                                    <option value="@reservation.id" selected>Plătit</option>
                                    <option value="@reservation.id">Neplătit</option>
                                </select>
                            }
                        </td>

                        <td><a class="btn btn-danger deletebtn" href="/Reservation/Delete/@reservation.id">Șterge Rezervare</a></td>
                    </tr>
                }
            </table>
        </div>

        <div class="pagining">
            @{

                string url;
                //se gasesc parametri de tip query din url, daca in momentul accesarii linkului din paginare nu exista parametrii atunci se va forma un parametru si anume page=:se pune ? dupa url
                if (Context.Request.Query.Count == 0)
                {
                    url = Context.Request.Path + "?";
                }

                else
                {   //daca exista parametrii se inlocuieste parametrul care indica pagina curenta cu un string null
                    url = Context.Request.Path + Context.Request.QueryString;
                    url = url.Replace("&p=" + Context.Request.Query["p"].ToString(), "");
                    url = url.Replace("?p=" + Context.Request.Query["p"].ToString(), "");

                    if (string.IsNullOrEmpty(Context.Request.Query["p"]))
                    {   //daca mai exist alti parametrii inafara de p se va adauga & la sfarsit de url
                        if (Context.Request.Query.Count >= 1)
                        {
                            url = url + "&";
                        }
                        //daca nu exista alt parametru se adauga ? pentru a putea adauga primul parametru
                        else
                        {
                            url = url + "?";
                        }
                    }
                    else
                    {  //daca exista parametrul p si inc un parametru suplimentar se adauga &
                        if (Context.Request.Query.Count >= 2)
                        {
                            url = url + "&";
                        }
                        //altfel se adauga ?
                        else
                        {
                            url = url + "?";

                        }

                    }
                }
            }

            @if (ViewBag.noPages > 6)
            {  //in functie de numarul de pagini returnate si de pagina curenta se vor afisa diferit link-urile de paginare

                if (ViewBag.currPage == 1)
                {
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>

                }
                else
                if (ViewBag.currPage == 2)
                { <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else if (ViewBag.currPage == 3)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <a href="@(url + "p=")2">2</a>
                    <a href="@(url + "p=")3">3</a>
                    <a href="@(url + "p=")4">4</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>

                }


                else if (ViewBag.currPage == ViewBag.noPages)
                {

                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>


                }
                else if (ViewBag.currPage == ViewBag.noPages - 1)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else if (ViewBag.currPage == ViewBag.noPages - 2)
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.noPages-3)">@(ViewBag.noPages-3)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-2)">@(ViewBag.noPages-2)</a>
                    <a href="@(url + "p=")@(ViewBag.noPages-1)">@(ViewBag.noPages-1)</a>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }
                else
                {
                    <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                    <a href="@(url + "p=")1">1</a>
                    <span>...</span>
                    <a href="@(url + "p=")@(ViewBag.currPage-1)">@(ViewBag.currPage-1)</a>
                    <a href="@(url + "p=")@ViewBag.currPage">@ViewBag.currPage</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)">@(ViewBag.currPage+1)</a>
                    <span>...</span>
                    <a href="@(url + "p=")@ViewBag.noPages">@ViewBag.noPages</a>
                    <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
                }

            }
            //daca edoar o pagina nu se afiseaza meniul de paginare
            else if (ViewBag.noPages == 1)
            {

            }
            else
            // daca e un nr mai mic de 6 pagini se afiseaza toate link-urile
            { <a href="@(url + "p=")@(ViewBag.currPage-1)"> Prev &lt </a>
                for (var i = 1; i <= ViewBag.noPages; i++)
                {
                    <a href="@(url + "p=")@i">@i</a>
                }
                <a href="@(url + "p=")@(ViewBag.currPage+1)"> &gt Next</a>
            }
        </div>
    }


@section Scripts{
    <script type="text/javascript" src="~/js/ScreeningReservations.js" asp-append-version="true"></script>
    @if (@ViewBag.ids != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {

        //sa se creeze un form  invizibil care merge spre actiunea care printeaza biletele care tocmai au fost create de admin
        var f = document.createElement("form");
        f.setAttribute('method', "post");
        f.setAttribute('action', "/ReservedSeats/Download");
        f.setAttribute('id', "generatedform");
        var s = document.createElement("input");
        s.setAttribute('type', "text");
        s.setAttribute('value', "@ViewBag.ids");
        s.setAttribute('name', "ids");
        s.setAttribute('class', "hide");
        f.appendChild(s);
        document.getElementsByTagName('body')[0].appendChild(f);
        f.submit();
        $("#generatedform").remove();
        });
        </script>
    }
}






}

