@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}



@if (ViewBag.SuccesMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccesMessage</div>
}


<a href="/Hall/Create" class="btn btn-danger">Creaza un nou tip de bilet</a>

@if (Model != null)
{
    @if (Model.Count != 0)
    {



        <br />
        <br />
        <div class="result"></div>





        <table class="table table-dark table-bordered">
            <thead><tr><th scope="col">Nume</th><th class="text-center" scope="col">Discount</th><th class="text-center" scope="col">Activ</th><th class="text-center" scope="col">Actiune</th></tr></thead>

            @foreach (var ticket in Model)
            {
                var discount = ticket.discount * 100;

                <tr style=" word-break: break-all;text-align:center">
                    <td>
                        @ticket.name
                    </td>
                    <td> @discount.ToString("0.00")%</td>
                    <td>
                        @if (ticket.active == 0)
                        {
                            <select class="status" name="active">
                                <option value="@ticket.id">Activ</option>
                                <option value="@ticket.id" selected>Inactiv</option>
                            </select>

                        }
                        else
                        {
                            <select class="status" name="active">
                                <option value="@ticket.id" selected>Activa</option>
                                <option value="@ticket.id">Inactiva</option>
                            </select>

                        }
                    </td>
                    <td>

                        <a class="btn btn-danger" href="/TicketTypes/Update/@ticket.id">Editeaza denumirea biletului</a>


                    </td>




                </tr>
            }
        </table>

        @section Scripts{
            <script type="text/javascript" src="~/js/TicketList.js" asp-append-version="true"></script>
        }
    }
}




